# the upstream component nginx needs to connect to
upstream django {
    server 127.0.0.1:8001; # for a web port socket (we'll use this first)
}

# configuration of the server
server {
    # the port your site will be served on
    listen      80;
    # the domain name it will serve for
    server_name .example.com; # substitute your machine's IP address or FQDN
    charset     utf-8;

    access_log  {{ nginx.logs_dir}}/nginx.access.{{ ansible_fqdn }}.log;
    error_log   {{ nginx.logs_dir }}/nginx.error.{{ ansible_fqdn }}.log;

    # max upload size
    client_max_body_size 75M;   # adjust to taste

    # Django media
    location /media  {
        alias {{ django.media_dir }};
    }

    location /static {
        alias {{ django.static_dir }};
    }

    # Finally, send all non-media requests to the Django server.
    location / {
        uwsgi_pass  {{ uwsgi.password }};
        include /etc/nginx/uwsgi_params;
    }
}