{% extends 'base.html' %}

{% block content %}
  <h1>Council Agenda - {{ parser.uid }}</h1>
  <p>
    <a href="{{ object.url }}">Original document</a>
  </p>
  <p>
    <a href="{% url 'raw_agenda_source' pk=object.id %}">Parsed source</a>
  </p>
  <p>
    <a href="{% url 'error_report' %}?url={{ request.path }}">Report an error on this page</a>
  </p>
  {% if parser.tabled_papers %}
    <h2>Tabled papers</h2>
    <ul>
    {% for p in parser.tabled_papers %}
      <li>{{ p.number }} - {{ p.title }} - {{ p.presenter }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% if parser.questions %}
    <h2>Questions</h2>
    <ol>
      {% for question in parser.questions %}
        <li>
          <p><strong>{{ question.asker }} asks {{ question.replier }} ({% if question.type == question.QTYPE_ORAL %}Oral{% else %}Written{% endif %}):</strong></p>
          <p>{{ question.body|safe }}</p>
          <p></p>
        </li>
      {% endfor %}
    </ol>
  {% endif %}
{% endblock content %}
