{% extends 'base.html' %}

{% block content %}
  <h1>Raw Council meeting agendas</h1>
  <ul>
  {% for agenda in object_list %}
    <li>{{ agenda.uid }}</li>
  {% endfor %}
  </ul>
  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
  {% if page_obj.has_previous %}
    <a href="{% url 'raw_agenda_list' %}?page={{ page_obj.previous_page_number }}">Prev</a>
  {% endif %}
  {% if page_obj.has_next %}
    <a href="{% url 'raw_agenda_list' %}?page={{ page_obj.next_page_number }}">Next</a>
  {% endif %}

{% endblock content %}