{% extends 'base.html' %}

{% block content %}
  <h1>Council Agenda - {{ parser.uid }}</h1>
  <p>
    <a href="{{ object.url }}">Original document</a>
  </p>
  <p>
    <a href="{% url 'raw_agenda_source' pk=object.id %}">Parsed source</a>
  </p>
  <p>
    <a href="{% url 'error_report' %}?url={{ request.path }}">Report an error on this page</a>
  </p>
  <h2>Sections</h2>
  <ul>
    {% if parser.tabled_papers %}
      <li><a href="#tabled_papers">Tabled papers</a></li>
    {% endif %}
    {% if parser.questions %}
      <li><a href="#questions">Questions</a></li>
    {% endif %}
    {% if parser.bills %}
      <li><a href="#bills">Bills</a></li>
    {% endif %}
  </ul>
  {% if parser.tabled_papers %}
    <a name="tabled_papers"></a>
    <h2>Tabled papers</h2>
    <table class="table table-condensed">
      <thead>
      <tr>
        <td>Paper number</td>
        <td>Title</td>
        <td>Presenter</td>
      </tr>
      </thead>
      {% for p in parser.tabled_papers %}
        <tr>
          <td>{{ p.number }}</td>
          <td>{{ p.title }}</td>
          <td>{{ p.presenter }}</td>
        </tr>
      {% endfor %}
    </table>
    <ul>
    </ul>
  {% endif %}
  {% if parser.questions %}
    <a name="questions"></a>
    <h2>Questions</h2>
    <ol>
      {% for question in parser.questions %}
        <li>
          <p><strong>{{ question.asker }} asks {{ question.replier }} ({% if question.type == question.QTYPE_ORAL %}Oral{% else %}Written{% endif %}):</strong></p>
          <p>{{ question.body|safe }}</p>
          <p></p>
        </li>
      {% endfor %}
    </ol>
  {% endif %}
  {% if parser.bills %}
    <a name="bills"></a>
    <h2>Bills</h2>

    <table class="table table-condensed">
      <thead>
      <tr>
        <td>Title</td>
        <td>Reading</td>
        <td>Amendmends</td>
        <td>Officers in attendance</td>
      </tr>
      </thead>
      {% for b in parser.bills %}
        <tr>
          <td>{{ b.title }}</td>
          <td>{{ b.pretty_reading }}</td>
          <td>{{ b.amendments|join:', ' }}</td>
          <td>{{ b.attendees|join:', ' }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock content %}
