{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1>{{ object.uid }} - {{ object.code }} - {{ object.name_e }} - {{ object.name_c }}</h1>
  <p>
    <a href="{% url 'error_report' %}?url={{ request.path }}">Report an error on this page</a>
  </p>
  <p>
    <a href="{{ object.url_e }}">English page</a>
    <a href="{{ object.url_c }}">Chinese page</a>
  </p>
  <h2>Members</h2>
  <ul>
    {% for membership in object.memberships.all %}
      <li>{{ membership.uid }} - {{ membership.member.name_e }} - {{ membership.member.name_c }} - {{ membership.post_e }}</li>
    {% endfor %}
  </ul>
  <h2>Meetings</h2>
  <ul>
    {% for meeting in object.meetings.all %}
      <li>{{ meeting.uid }} - {{ meeting.subject_e }} - {{ meeting.venue_code }} - {{ meeting.start_date }}</li>
    {% endfor %}
  </ul>
{% endblock content %}