{% extends 'base.html' %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Field</th>
        <th>Parsed value</th>
        <th>Override</th>
      </tr>
      </thead>
      <tbody>
      {% for field in fields %}
        <tr>
          <td>{{ field.0 }}</td>
          <td>{{ field.1 }}</td>
          <td>{{ field.2 }}</td>
        </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td></td>
        <td><input type="submit" value="Save" /></td>
      </tr>
      </tbody>
    </table>
  </form>

{% endblock content %}
