{% extends 'base.html' %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Field</th>
        <th>Parsed value</th>
        <th>Override</th>
      </tr>
      </thead>
      <tbody>
      {% for field in fields %}
        <tr>
          <td>{{ field.0 }}</td>
          <td>{{ field.1 }}</td>
          <td>{{ field.2 }}</td>
        </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td></td>
        <td><input class="btn btn-primary" type="submit" value="Save" /></td>
      </tr>
      </tbody>
    </table>
  </form>

  {% for relation in relations %}
    <h3>{{ relation.name }}</h3>
    <form method="post" action="{% url 'parsed_model_instances' model=relation.model_name %}">
      {% csrf_token %}
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Related model</th>
          <th>UID</th>
          <th>Deactivate?</th>
        </tr>
        </thead>
        <tbody>
        {% for object in relation.objects %}
          <tr>
            <td><a href="{% url 'parsed_model_detail' model=relation.model_name uid=object.0.uid %}">{{ object.0 }}</a></td>
            <td>{{ object.0.uid }}</td>
            <td>
              <input type="checkbox" name="deactivate" value="{{ object.0.id }}"{% if object.1 %} checked{% endif %} />
              <input type="hidden" name="overrides" value="{{ object.0.id }}" />
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <input class="btn btn-primary" type="submit" value="Save deactivations" />
    </form>
  {% endfor %}

{% endblock content %}
