{% extends 'base.html' %}

{% block content %}
  <h1>{{ model_name }}</h1>
  <ul>
  {% for obj in object_list %}
    <li><a href="{% url 'parsed_model_detail' model=path uid=obj.uid %}">{{ obj.uid }} - {{ obj }}</a></li>
  {% endfor %}
  </ul>
  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
  {% if page_obj.has_previous %}
    <a href="{% url 'parsed_model_instances' model=path %}?page={{ page_obj.previous_page_number }}">Prev</a>
  {% endif %}
  {% if page_obj.has_next %}
    <a href="{% url 'parsed_model_instances' model=path %}?page={{ page_obj.next_page_number }}">Next</a>
  {% endif %}

{% endblock content %}
